/.metadata/
AppiumPayback/lib/test-output/skipped.png
AppiumPayback/lib/test-output/passed.png
AppiumPayback/lib/test-output/navigator-bullet.png
AppiumPayback/lib/test-output/bullet_point.png
AppiumPayback/lib/test-output/collapseall.gif
AppiumPayback/lib/test-output/failed.png
